<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>cocoTemplate演示</title>
	<style type="text/css">
		*{margin:0;padding:0;}
		#container{width:300px;margin:10px auto;}
		ul{width:100%;list-style: none;}
		li{line-height:25px;color:#777;font-size: 12px;text-align: center;}
		.even{background: #eee;}
	</style>
	<script type="text/javascript" src="coco-template.js"></script>
</head>
<body>
	<div id="container">
		
	</div>
	<script type="text/html" id="tmpl">
		<ul class="lists">
			<% for(var i = 0; i < len; i++) { %>
				<% if(i%2 == 0) { %>
					<li class="even"><%=i+1%></li>
				<% } else { %>
					<li><%=i+1%></li>
				<% } %>
			<% } %>
		</ul>
	</script>
	<script type="text/javascript">
		var html = cocoTemplate(document.getElementById('tmpl').innerHTML, {len: 100});
		document.getElementById('container').innerHTML = html;
	</script>
</body>
</html>